body {
  margin: 0;
  padding: 0;
  background-color: #eceff1;
  font-family: "Roboto", sans-serif;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-focus-ring-color: rgba(0, 0, 0, 0);
  background-color: inherit;
  outline: none;

  text-decoration: none;
  :hover {
    outline: none;
  }
}
